pydantic
python-dotenv
llama-index
llama-index-storage-docstore-postgres
llama-index-vector-stores-postgres
llama-index-embeddings-ollama
llama-index-llms-ollama
psycopg2-binary
llama-parse
redis
langchain-google-genai
langchain-docling
docling
docling-core
ollama
